* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.container, .container2, .container3, .container4, .blok5,
.out10
{
    display: grid;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    width: 400px;
    border: solid 2px;
}



.two {
    font-weight: bolder;
}

.tree {
    color: rgb(255, 255, 255);
}

.four {
    border: solid 3px;
}

.five {
    display: none;
}


