.footer .footerButtom {
  background: #333333;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .footerButtom ul li a {
  line-height: 30px;
  color: #fff;
  position: relative;
  margin-left: 23px;
  display: block;
  text-decoration: none;
}

.footerTittle {
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  margin-bottom: 20px;
}

.footerTittle a {
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
}